/*--Секция клиенты*/

.clients {
    justify-content: center;
    align-items: center;
    --grid-num: 6;
    
    
  &__item {
   
    height: 90px;
  }
  
  &__item:nth-child(6n) {
    margin-right: 0px;
  }
  
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
  
    border-radius: 4px;
    fill: #afb1b8;
  
    transition: border-color var(--animation), fill var(--animation);
  }
  
    
  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-text-color);
    fill: var(--accent-text-color);
  }
  
  &__icon {
    transition: fill var(--animation);
  } 
}